.BG{
	background: #2E27F2;
}
/*.fundoButton{
	background: #002457;

}*/
.container{
	
	position: relative;
	top: 50px;
	width: 350px;
	height: 400px;
	background: #e4e1e1fa;
	border-radius: 7px;
}
.degrade{
		left: 35%;
	position: absolute;
	top: 50px;
	width: 300px;
	height: 200px;
	background: red;
	border-radius: 7px;
}
#mov{
	text-align: center;
	padding-top: 80px;
}

button.click{
	float: left;
	margin-left: 30PX;
	margin-top: 30px;
}

 button{
	width: 100px;
	height: 40px;
	background: #16169e;
	border: none;
	border-radius: 5px;

}
a{
	color:#fafafa;
}
a:link, a:hover{
	text-decoration: none;
	color:#fafafa;

}

#grupob{
	padding-left: 40%;
	padding-top: 10%;
}
